<header class="flex flex-col items-center justify-center bg-[--bg-header-color] w-full">
  <div class="flex w-[90%] lg:w-full max-w-[1280px] justify-between items-center sm:mx-9 flex-wrap">
    <h1 class="text-[--text-primary-color] font-Saira-Stencil font-normal text-[30px] sm:text-[40px] leading-[60px]">
      capputeeno
    </h1>
    <div class="flex items-center">
      <div *ngIf="inputMobile" class="w-[390px] h-11 rounded-lg bg-[--bg-primary-color] relative">
        <input type="text" class="w-full h-full bg-[--bg-primary-color] rounded-lg outline-0 px-3 font-normal" placeholder="Procurando por algo específico?">
        <button class="absolute right-3 bottom-[20%]">
          <i class="fas fa-search text-[--text-primary-color]"></i>
        </button>
      </div>
      <div class="cart">
        <img src="../../../assets/shopping-bag.svg" alt="">
        <span class="notification">
          <p>2</p>
        </span>
      </div>
    </div>
  </div>
  <div *ngIf="!inputMobile" class="w-[90%] mx-auto h-11 rounded-lg bg-[--bg-primary-color] border border-b-8 border-[--bg-header-color] relative">
    <input type="text" class="w-full h-full bg-[--bg-primary-color] rounded-lg outline-0 px-3 font-normal" placeholder="Procurando por algo específico?">
    <button class="absolute right-3 bottom-[20%]">
      <i class="fas fa-search text-[--text-primary-color] bg-[--bg-primary-color]"></i>
    </button>
  </div>
</header>