<header>
  <div class="container">
    <h1 class="title">capputeeno</h1>
    <div class="wrapperR">
      <div class="blockInput">
        <input type="text" class="searchInput" placeholder="Procurando por algo específico?">
        <button class="searchButton">
          <i class="fas fa-search"></i>
        </button>
      </div>
      <div class="cart">
        <img src="../../../assets/shopping-bag.svg" alt="">
        <span class="notification">
          <p>2</p>
        </span>
      </div>
    </div>
  </div>
</header>