/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Outfit:wght@400;700&family=Saira+Stencil+One&family=Saira:wght@400;500&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Saira', sans-serif;
}

:root{
  --text-primary-color: #5D5D6D;
  --text-dark-color: #737380;
  --bg-primary-color: #F3F5F6;
  --bg-header-color: #FFF;
}

body{
  width: 100%;
  background-color: var(--bg-primary-color);
  app-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}